{% load static %}
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<link rel="stylesheet" href="{% static 'css/headerCss.css' %}"/>
<script>
    $(document).ready(function(){
        num_class = document.getElementsByClassName("num");
        for(i=0; i<num_class.length; i++){
            if(isNaN(num_class[i].innerHTML)){
                num_class[i].innerHTML = '-';
            }
            console.log(num_class[i].innerHTML);
        }
    });
</script>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="header">
            <a class="homeTitle" href="/">Home</a>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="/">전체 계좌 조회</a>
                </li>
                <li>
                    <a href="/onoff/">나</a>
                </li>
                <li>
                    <a href="">다</a>
                </li>
                <li>
                    <a href="">라</a>
                </li>
                <li>
                    <a href="">마</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <a>made in ChoWonJun</a>
        </div>
    </body>
</html>