{% load static %}
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<link rel="stylesheet" href="{% static 'css/headerCss.css' %}"/>
<script>
    $(document).ready(function(){
        num_class = document.getElementsByClassName("num");
        for(i=0; i<num_class.length; i++){
            if(isNaN(num_class[i].innerHTML)){
                num_class[i].innerHTML = '-';
            }else{
                if(Math.round(num_class[i].innerHTML) < 100){
                    num_class[i].innerHTML = Math.round(num_class[i].innerHTML * 100)/100;
                }else{
                    num_class[i].innerHTML = Math.round(num_class[i].innerHTML);
                }
                num_class[i].innerHTML = num_class[i].innerHTML.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        }
        /*
        마우스 오버된 칸의 행열 모두 마우스 오버 적용
         */
        $(".ta_hov").mouseover(function(){
            var table = $(this).parent();
            $(table).addClass("ta_rc_hov");                     // row hover add
            var column = $(this).data("column");
            $("."+column).addClass("ta_rc_hov");                // column hover add
            $(".ta_head ."+column).addClass("ta_head_hov");     // title hover add
        });
        $(".ta_hov").mouseout(function(){
            var table = $(this).parent();
            $(table).removeClass("ta_rc_hov");                  // row hover remove
            var column = $(this).data("column");
            $("."+column).removeClass("ta_rc_hov");             // column hover remove
            $(".ta_head ."+column).removeClass("ta_head_hov");  // title hover remove
        });
    });
</script>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="header">
            <a class="home_title" href="/">Home</a>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="/">전체 계좌 조회</a>
                </li>
                <li>
                    <a href="/onoff/">Auto Trade</a>
                </li>
                <li>
                    <a href="/transHistory/">거래 내역</a>
                </li>
                <!-- 
                <li>
                    <a href="">라</a>
                </li>
                <li>
                    <a href="">마</a>
                </li>
                 -->
            </ul>
        </div>
        <div class="container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <a>made in ChoWonJun</a>
        </div>
    </body>
</html>