<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/headerCss.css' %}">
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="app">
            <div class="header">
                <a class="homeTitle" href="/">Home</a>
            </div>
            <div class="nav">
                <ul>
                    <li>가</li>
                    <li>나</li>
                    <li>다</li>
                    <li>라</li>
                    <li>마</li>
                </ul>
            </div>
            <div class="container">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                <a>made in ChoWonJun</a>
            </div>
        </div>
    </body>
</html>