{% extends 'headerTemplate.html' %}
{% block content %}
<script>
    function ddd(id){
        $("#id").val(id);
        document.frm.action = "/delete/";
        document.frm.submit();
    }
</script>
<form id="frm" name="frm" method="POST" action="/if/">
    {% csrf_token %}
    {% load humanize %}
    <input type="hidden" id="id" name="id"/>
    <div class="headerContent">
        <a>전체 계좌 조회</a>
    </div>
    <div class="bodyContent">
        <table>
            <tr>
                <th>종목 코드</th>
                <th>주문가능 금액/수량</th>
                <th>매수평균가</th>
                <th>시가</th>
                <th>고가</th>
                <th>저가</th>
                <th>종가</th>
            </tr>
            {% for balance in data %}
            <tr>
                <td>
                    {{ balance.market }}
                </td>
                <td class="num">
                    {{ balance.balance }}
                </td>
                <td class="num">
                    {{ balance.avg_buy_price }}
                </td>
                <td class="num">
                    {{ balance.opening_price }}
                </td>
                <td class="num">
                    {{ balance.high_price }}
                </td>
                <td class="num">
                    {{ balance.low_price }}
                </td>
                <td class="num">
                    {{balance.trade_price}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}