{% extends 'headerTemplate.html' %}
<!-- 
    * headerTemplate.html 상속
 -->
{% block content %}
<form id="frm" name="frm">
    <!--
        {% csrf_token %}
        * CSRF(Cross-site request forgery) : 사용자가 자기 의지와 무관하게 공격자가 의도한 행위를 특정 웹사이트에 요청하게 하는 방식의 공격; 난수 비슷한 것?
        * POST 형태로 데이터 넘길때 CSRF 토큰을 넘김
        * 없이 데이터 넘길 시 403 error 발생
    -->
    <div class="head_con">
        <a class="head_con_title">전체 계좌 조회</a>
    </div>
    <div class="body_con">
        <table>
            <tr class="ta_head">
                <th class="ta_hov col1" data-column="col1">종목 코드</th>
                <th class="ta_hov col2" data-column="col2">금액</th>
                <th class="ta_hov col3" data-column="col3">매수 평균가</th>
                <th class="ta_hov col4" data-column="col4">현재가</th>

                <th class="ta_hov col5" data-column="col5">시가</th>
                <th class="ta_hov col6" data-column="col6">고가</th>
                <th class="ta_hov col7" data-column="col7">저가</th>
            </tr>
            {% for balance in data %}
            <tr>
                <td class="ta_hov td_str col1" data-column="col1">
                    <a>{{ balance.market }}</a>
                </td>
                <td class="ta_hov td_num col2" data-column="col2">
                    <a class="num">{{ balance.current_price }}</a>
                    원
                </td>
                <td class="ta_hov td_num col3" data-column="col3">
                    <a class="num">{{ balance.avg_buy_price }}</a>
                    원
                </td>
                <td class="ta_hov td_num col4" data-column="col4">
                    <a class="num">{{ balance.trade_price }}</a>
                    원
                </td>
                <td class="ta_hov td_num col5" data-column="col5">
                    <a class="num">{{ balance.opening_price }}</a>
                    원
                </td>
                <td class="ta_hov td_num col6" data-column="col6">
                    <a class="num">{{ balance.high_price }}</a>
                    원
                </td>
                <td class="ta_hov td_num col7" data-column="col7">
                    <a class="num">{{ balance.low_price }}</a>
                    원
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}