{% extends 'headerTemplate.html' %}
{% block content %}
<script>
    function changeStatus(){
        chk = $("#chk").val();
        $.ajax({
            url : "{% url 'changeStatus' %}"
            , type : "POST"
            , dataType : "json"
            , data : {"chk":chk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
            , success : function(obj){
                if(chk == "True"){
                    $("#chk").val("False");
                    $("#chk_btn").text("Off");
                }else{
                    $("#chk").val("True");
                    $("#chk_btn").text("On");
                }
            }, error : function(){
                console.log('안돼');
            }
        });
    }
    function changeMethod(id, name){
        if("True" == $("#chk").val()){
            $.ajax({
                url : "{% url 'changeMethod' %}"
                , type : "POST"
                , dataType : "json"
                , data : {"id":id, "name":name, 'csrfmiddlewaretoken':'{{ csrf_token }}'}
                , success : function(obj){
                    document.frm.submit();
                }, error : function(){
                    console.log('안돼');
                }
            });
        }else{
            alert("거래 종료 후 변경하세요.");
        }
    }
</script>
<form id="frm" name="frm">
    {% csrf_token %}
    <div class="head_con">
        <a class="head_con_title">Auto Trade</a>
        <div style="float: right;">
            <a class="head_con_sub">현재 방식 : {{ chk.trade_method }}</a>
            <input type="hidden" id="chk" name="chk" value="{{chk.status_chk}}"/>
            <a id="chk_btn" class="btn" onclick="changeStatus()">
                {% if chk.status_chk %}
                    On
                {% else %}
                    Off
                {% endif %}
            </a>
            <!-- <a class="btn" href="/if/">등록</a> -->
        </div>
    </div>
    <div class="body_con">
        <table>
            <colgroup>
                <col width="20%">
                <col width="70%">
                <col width="10%">
            </colgroup>
            <tr class="ta_head">
                <th class="ta_hov col1" data-column="col1">방식</th>
                <th class="ta_hov col2" data-column="col2">설명</th>
                <th class="ta_hov col3" data-column="col3">선택</th>
            </tr>
            {% for method in trade_method %}
                <tr>
                    <td class="ta_hov col1" data-column="col1">{{ method.method_name }}</td>
                    <td class="ta_hov td_str col2" data-column="col2"><pre style="font-size: 15px;">{{ method.method_text }}</pre></td>
                    <td class="ta_hov col3" data-column="col3">
                        {% if chk.trade_method_id == method.id %}
                            <a>사용중</a>
                        {% else %}
                            <a class="btn" onclick="changeMethod('{{method.id}}', '{{method.method_name}}')">변경</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if trade_method|length == 0 %}
                <tr>
                    <td colspan="3">거래 방식이 없습니다.</td>
                </tr>
            {% endif %}
        </table>
    </div>
</form>
{% endblock %}