{% extends 'headerTemplate.html' %}
{% block content %}
<script>
    function changeStatus(){
        chk = $("#chk").val();
        $.ajax({
            url : "{% url 'changeStatus' %}"
            , type : "POST"
            , dataType : "json"
            , data : {"chk":chk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
            , success : function(obj){
                if(chk == "True"){
                    $("#chk").val("False");
                    $("#chk_btn").text("Off");
                }else{
                    $("#chk").val("True");
                    $("#chk_btn").text("On");
                }
            }, error : function(){
                console.log('안돼');
            }
        });
    }
</script>
<form id="frm" name="frm">
    {% csrf_token %}
    <div class="headerContent">
        <a class="headerContent_a_title">Auto Trade</a>
        <div style="float: right;">
            <a class="headerContent_a_sub">현재 방식 : 볼린저 밴드</a>
            <input type="hidden" id="chk" name="chk" value="{{chk.status_chk}}"/>
            <a id="chk_btn" class="btn" onclick="changeStatus()">
                {% if chk.status_chk %}
                    On
                {% else %}
                    Off
                {% endif %}
            </a>
        </div>
    </div>
    <div class="bodyContent">
        <div>
            <table>
                <colgroup>
                    <col width="20%">
                    <col width="70%">
                    <col width="10%">
                </colgroup>
                <tr>
                    <th>방식</th>
                    <th>설명</th>
                    <th>선택</th>
                </tr>
                <tr>
                    <td>변동성 전략</td>
                    <td class="td_content">
                        매수 : 전 타임 종가 + (전 타임 고가 - 전 타임) * K 이상 상승
                        <br>
                        매도 : 기준 시간 기준 종료
                    </td>
                    <td>
                        <a class="btn">변경</a>
                    </td>
                </tr>
                <tr>
                    <td>볼린저 밴드</td>
                    <td class="td_content">
                        매수 : 60분 봉 기준 현 타임과 전전타임이 볼린저 밴드 하단 1.5% 이상 하락 & 15분 봉 기준 현 타임과 전전타임이 볼린저 밴드 하단 1.5% 이상 하락
                        <br>
                        매도 : 매수가의 1.5% 이상 상승
                    </td>
                    <td>
                        <a class="btn">변경</a>
                    </td>
                </tr>
                <tr>
                    <td>5-10</td>
                    <td class="td_content">
                        매수 : MA5 > MA10
                        <br>
                        매도 : MA5 < MA10
                    </td>
                    <td>
                        <a class="btn">변경</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
{% endblock %}