html {
    overflow-x: hidden;

    /* 드래그 불가 */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    /* position: relative; */
    background-color: white;
    text-align: center;
    border: 1px solid #ddd;
}
.home_title{
    text-decoration-line: none;
    font-size: 50px;
    font-weight: 600;
    color: black;
}
.nav{
    /* position: relative; */
    margin: -5px;
    border-bottom: 1px solid #ddd;
}
.nav ul li{
    cursor: pointer;
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
.nav ul li a{
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.nav_logout{
    float: right;
}
.nav ul .nav_logout a{
    font-size: 15px;
}
.container {
    height: auto;
    min-height: 70%;
    padding-bottom: 10px;
    color: #134371;
    font-weight: 600;
    padding: 5px;
    margin: 20px;
}
.content {
    width: 100%;
}
.footer{
    height: 10px;
    position: relative;
    transform : translateY(-100%);
    cursor: default;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 5px;
    font-weight: 400;
    background-color: white;
}

.btn{
    cursor: pointer;
    text-decoration: none; 
    font: menu;
    display: inline-block; 
    padding: 2px 8px;
    background: ButtonFace; 
    color: ButtonText;
    border-style: solid; 
    border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.head_con .head_con_title{
    line-height: 45px;
    cursor: default;
    font-size: 25px;
    color: black;
}
.head_con .head_con_sub{
    line-height: 45px;
    cursor: default;
    font-size: 15px;
    color: black;
}
.nav_con{
    position: relative;
    margin: -5px;
}
.nav_con ul li{
    cursor: pointer;
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
.nav_con ul li a{
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
table{
    cursor: default;
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    text-align: center;
}
table tr{
    border-bottom: 1px solid #e5e5e5;
}
table th, td {
    font-weight: unset;
    padding-right: 10px;
    padding-left: 25px;
}
table th{
    border: 1px solid #fff;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 13px;
    color: #ddd;
    background-color: #333;
}
table td{
    padding-top: 11px;
    padding-bottom: 7px;
}
table td pre{
    font-size: 15px;
    white-space: pre-wrap;
}
td:hover {
    background-color: #8c99f8;
    color: #fff;
}
.ta_rc_hov{
    background-color: #f2f2f2;
}
.ta_head_hov{
    background-color: #484848;
}
table .td_str{
    text-align: left;
    padding-left: 30px;
}
table .td_num{
    text-align: right;
    padding-right: 3px;
}
.nav_select{
    width: 10%;
    font-size: 20px;
    color: #333;
}
.unit{
    color: #999;
}